<% 
sortHelper= (collection, name, sortField, sortFieldCurrent, sortTypeCurrent) => {
    let order = (sortTypeCurrent == 'asc')? 'desc': 'asc'
    let link = systemConfig+'/'+collection+ '/sort/'+ sortField+ '/' + order; 
    let icon  = '<i class="fa fa-fw fa-sort"></i>';
    if(sortField == sortFieldCurrent) {
     icon = `<i class="fa fa-fw fa-sort-${sortTypeCurrent}"></i>`
    }  
    let xhml = `<th class="pointer"> 
                <a href="${link}" class="title_col">${name} ${icon}</a>
             </th>`; 
    return xhml
 } %>




   